.footer{
	font-family: 'Lato',sans-serif;
	background-color: #e56c69;
	color: #FFF;
	height: 475px;
	padding-top: 45px;
	@mixin clearfix;

	ul{
		padding: 0;
		margin: 0;
		font-size: 12px;
	}


	&__address{
		max-width:33.33%;
		float: left;
		/*background-color: rgba(0,0,0,0.3);*/
	}

	&__links{
		max-width: 66.66%;
		float: left;
		/*background-color: rgba(0,0,0,0.3);*/
	}

	&__address ul{
		list-style-type: none;
	}

	&__links ul{
		list-style-type: none;
		float: left;
	}

	&__links ul:not(:first-child){
		padding-left: 80px;
	}


	&__links ul li:first-child{
		font-weight: bold;
		font-size: 13px;
	}

	ul li{
		padding-bottom: 16px;
	}

}


