/*Start of HERO__Image
==========================================================================*/
.hero-img{
	display:block;;
	max-width:100%;
	height: 500px;
	background-image: url('/assets/hero-img.png');
	background-position: ;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;

	@mixin atMedium{
		height: 700px;
	}

	@mixin atLarge{
		height: 920px;
	}


	&__text{
		position: absolute;
		max-width: 390px;
		transform: translateY(100px);
		font-family: 'Lato', sans-serif;
		color: #FFF;
		background-color: rgba(0,0,0,0.3);


		@mixin atMedium{
			transform: translateY(180px);
		}

		@mixin atLarge{
			transform: translateY(230px)
		}
	}

	&__heading{
		max-width: 360px;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 29px;
		text-shadow:0 1px rgba(0,0,0,0.5);

		@mixin atMedium{
			font-size: 3rem;
		}
	}

	&__heading-fix{
		font-size: 2rem;
		@media (min-width: 334px){
			font-size: 2.5rem;
		}
		@mixin atMedium{
			font-size: 3rem;
		}
	}
	&__description{
		font-size: 0.875rem;
		font-weight: normal;
		line-height: 20px;
		text-shadow:0 1px rgba(0,0,0,0.2);

	}
}
/*End of HERO__Image 
===========================================================================*/