/* Start of Header
==================================================== */
.site-header{
	position: absolute;
	z-index: 2;
	width: 100%;
	padding-top: 50px;

	&__logo{
		position: absolute;
		top: 0;
		left: 0;


		@mixin atMedium{
			top: 20px;
			left: 25px;
		}
	}


	&__nav ul{
		padding: 0;
		margin:0;
		display: none;
		@mixin clearfix;

		@mixin atMedium{
			display: block;
		}

	}

	&__nav ul li a{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-decoration: none;
		color: #FFF;
	}

	&__nav ul li{
		list-style-type: none;
		float: left;
		margin-right: 50px;
	}
}