.wrapper{
	max-width: 990px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	/*background-color: rgba(0,0,0,0.3);*/
	padding: 0 10px;
	@mixin clearfix;



	&__nav-fix{
		max-width: 800px;
		float: right;
	}
}